<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SecureCoreG4EntitiesEDI" connectionString="metadata=res://*/EDIModel.csdl|res://*/EDIModel.ssdl|res://*/EDIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlserver.S2AM.sdslab.cat;initial catalog=SecureCoreG4;persist security info=True;user id=G4;password=12345G4aA2425.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>